@import 'bootstrap-4.5.3/scss/bootstrap.scss';

@import 'layout/header';
@import 'layout/footer';

@import 'page/landing_page';
@import 'page/lecture';
@import 'page/cart_page1.scss';
@import 'page/cart_page2.scss';
@import 'page/cart_page5.scss';

/*--------------------------------------------------*/

.mb-5{
	margin-bottom: 70px;
}
.mb-4{
	margin-bottom: 40px;
}
.mb-3{
	margin-bottom: 30px;
}
.mb-2{
	margin-bottom: 20px;
}
.mb-1{
	margin-bottom: 10px;
}
.none_liststyle{
	list-style-type:none;
}
.bg-cover{
	background-position: center center;
	background-size: cover;
	
   // 以下這些代碼，是讓圖縮小時，也可以比較不會失真的內容 	   
   image-rendering: -moz-crisp-edges; /* Firefox */
   image-rendering: -o-crisp-edges; /* Opera */
   image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
   image-rendering: crisp-edges;
   -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.br-r{
	border-right: 1px solid black;
}
.br-l{
	border-left: 1px solid black;
}
.br-b{
	border-bottom: 1px solid black;
}
.br-t{
	border-top: 1px solid black;
}
.w-10{
	width:10%
}
.w-20{
	width:20%
}
.w-30{
	width:30%
}
.w-sm-30{
	width:30%
}
.w-40{
	width:40%
}
.w-60{
	width:60%
}
.w-80{
	width:80%
}
